.firstPage {
    width: 90%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;
    grid-gap : 2rem;
    ;
}

.firstPage .cell {
    background-color: rgb(248, 246, 244);
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.5rem;
}

.cell h1 , .cell h2 {
    text-align: center;
}

.cell i {
    color:rgb(92, 91, 91);
}

.cell:nth-child(2) i::after {
    content: 'Total impressions of your ads';
    float: left;
    margin-right: 5px;
    display: none;
}

.cell:nth-child(2) i:hover::after {
    display: block;
}

.cell:nth-child(3) i::after {
    content: 'Avarage cost of each Impression';
    float: left;
    margin-right: 5px;
    display: none;
}

.cell:nth-child(3) i:hover::after {
    display: block;
}

.history {
    grid-column: 1 / span 3;
    max-height: 100%;
    overflow: scroll ;
    overflow-x: hidden;
}



.history table {
    background-color: rgb(248, 246, 244);
    min-width: 100%;
    border-collapse: collapse;
    font-size: 0.9em;
    margin-left: auto;
    margin-right: auto;
    overflow : scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;

  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(4, 7, 54); 
    border-radius: 10px;
  }

.history table tr {
   height:  4rem;
}
.mainTR{
    background-color: #2a9d8f;
}

.history table tr {
    width: 100%;
    text-align: center;
    border-bottom: 3px grey solid;
    padding: 1px;
}

.trImg {
    margin: auto;
    width: 3rem;
    height: 3rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.trImg:hover {
    width: 15rem;
    height: 15rem;
    position: absolute;
}


.moreStats {
   display: block;
    height: 2rem;
    border: none !important;
    background-color: transparent !important;
    overflow: hidden !important;
}

.moreStasOpen {
    height: 20rem;
}

.moreStasDivs {
    width: 100%;
    height: 55%;
    display: flex;
}

.moreStastDivBox {
    background-color: rgb(248, 246, 244);
    border: 2px solid black;
    border-radius: 20px;
    padding: 0.5rem;
    width: 100%;
    margin: 1rem;
}